@import "../../lib/common/materialize-css/sass/components/color-variables";
@import "../../lib/common/materialize-css/sass/components/color-classes";

body {
	width: 50%;
	margin: 0 auto;
	font: 'BYekan', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	// direction: rtl;
}