@import "../../lib/common/materialize-css/sass/components/color-variables";
@import "../../lib/common/materialize-css/sass/components/color-classes";

body {
	width: 100%;
	margin: 0 auto;
	// font-family: BYekan, Tahoma, BNazanin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	direction: rtl;
}
@import "header";